#rojo {
    background-color: red;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover td {
    background: rgb(96, 233, 141)
}

#contObjetos {
    text-align: left;
    height: 80px;
    line-height: 80px;
}

.imgProducto {
    width: 175px;
    height: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.titulo {


    font-family: 'Rochester';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
}

.banner {


    height: 344px;
    background: url('https://s3-alpha-sig.figma.com/img/40ec/3ac4/43efc65dbdbfe77000d6db1a2a100c90?Expires=1648425600&Signature=BWrFVmeQj7ynwjf4zpabnRGkjLHXooJ642Qfu34Q7Qf4Ja8DatnLLer96nhBbSnEyJM9DeJhw97FciSbtO-3c8xu7WqEmsMa2tWLL9-XhBNKRjI3BsusG64oMVFvGwaGH0ixq~O8CAcV700Lv8RHLFIVcNGltUCS0Wm3hfB3gkZoDuXCR7Hd~8kIfAta2rA6BTMSgXSVUZOWIRfKRJYU9gwIJMheUPh8npJ5NQC0~glw3xXrDZkeXFOWofJkAQdNkH0VraIpUwCW5DAVUO3wUWGPQ2z3yof3yqiu4zpXb61XugKkUbjzvpld9Zq6BCTQrWGyLzXfvtJwuaDSrkbPPg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA');
    background-position: 0%;
    background-position-x: center;
}

.carrito {}

.bloqueOpcion {

    width: 262px;
    height: 327px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    box-sizing: border-box;
}

.nombreProducto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}


.fondoBotones {

    width: 1440px;
    height: 81px;
    z-index: 0;

    background: #333A40;
}

.btnBurger {

    width: 86px;
    height: 27px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    z-index: 9;

    color: #FFFFFF;
}

.btnTacos {
    width: 86px;
    height: 27px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    z-index: 9;

    color: #FFFFFF;

}

.btnSalads {

    width: 86px;
    height: 27px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    z-index: 9;

    color: #FFFFFF;
}

.btnDesserts {

    width: 86px;
    height: 27px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    z-index: 9;

    color: #FFFFFF;
}

.btnDrinks {
    /* Drinks & Sides */

    width: 156px;
    height: 27px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    z-index: 9;

    color: #FFFFFF;
}

#titleFood {

    height: 35px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
}

.descripcionProducto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    height: 70px;
}

.precioProducto {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
}

.btnAnadir {
    background: #F2A950;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
}

.text-center {
    text-align: center;
}